table{
	border: 1px solid black;
}

td{
	border: 1px solid black;
	text-align: center;
}

.trow_even{
	background-color: #0099ff;
}

.trow_odd{
	background-color: #66ccff;
}

.disqualified{
	opacity: 0.5;
	text-decoration: line-through;
}

tr.selected{
	font-weight: bold;
	text-decoration: underline;
}
